@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.content {
    border-radius: 15px;
    background-color: white;
    width: 960px;
    height: 90%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background-color: #1b6683;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 0%;
}

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary {
    color: #fff;
}

.title-second {
    color: #1b6683;

}

.description {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
}

.description-primary {
    color: #fff;
}

.description-second {
    color: #7f8c8d;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border-width: 0px;
    margin-top: 1rem;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
}

.btn-primary:hover {
    background-color: white;
    color: #1b6683;
}

.btn-second {
    background-color: #1b6683;
    border: 1px solid #1b6683;
    transition: background-color 0.5s;
}

.btn-second:hover {
    background-color: #fff;
    border: 1px solid #1b6683;
    color: #1b6683;
}

.login {
    display: flex;
}

.login .second-column {
    z-index: 11;
}

.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    margin: 1rem 0;
}

.link-social-media {
    margin-left: 10px;
}

.link-social-media:not(:first-child) {
    margin-left: 10px;
}

.link-social-media .item-social-media {
    transition: background-color 0.5s;
}

.link-social-media:hover .item-social-media {
    background-color: #1b6683;
    color: #fff;
    border-color: #1b6683;

}

.list-social-media {
    display: flex;
    list-style-type: none;
}

.item-social-media {
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #7193c0;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;

}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
    margin: 8px;
    border-radius: 4px;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

/*Second Content*/


.password {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}

.password::first-letter {
    text-transform: capitalize;
}

/*.sign-in-js .first-content .first-column,
.sign-in-js .first-content .second-column {
    z-index: -1;
}

.sign-in-js .second-content .first-column,
.sign-in-js .first-content .second-column {
    z-index: 12;
}

.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 3s;
}

.sign-up-js .second-content .first-column,
.sign-up-js .first-content .second-column {
    z-index: -1;
}

.sign-in-js .first-content .first-column,
.sign-in-js .first-content .second-column {
    z-index: 12;
}

/*Animação CSS*/
